/* LetsDig stylesheet */

a {
    color: #336699;
    text-decoration: none;
}

a:visited {
    color: #7094B8;
    text-decoration: none;
}

a:hover {
    color: #14293D;
    text-decoration: none;
}

.frontdoor input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 5px;
}

.frontdoor button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 5px;
}

.landing {
    display: inline-block;
    text-align: center;
}

.landing input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 5px;
}

.landing button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 5px;
}

.wizard {
    text-align: left;
}

.centered {
    text-align: center;
}

fieldset {
    border: none;
}

body header {
    text-align: center;
}

.header-foyer ul li {
    list-style: none;
    display: inline;
    padding-right: .3em;
    margin-bottom: .3em;
}

.header-foyer img {
    height: 1em;
}

header h1 {
    font-size: 3em;
}

header h2 {
    font-size: 2em;
    text-align: left;
    margin: 2px;
}

#login, #register {
    text-align: center;
}

#mainlogo {
    display: inline;
    height: 1em;
}

nav.bottom {
    display: block;
}

footer {
    text-align: center;
}

#moreinfo {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 30%;
}

form.frontdoor {
    display: inline-block;
    width: 30%;
}

main.frontdoor {
    width: 70%;
}

.header-foyer div {
    display: inline-block;
}

#header-left {
    text-align: left;
    float: left;
}

#header-center {
    text-align: center;
}

#header-right {
    text-align: right;
    float: right;
}