<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="template :: head-frontdoor">
</head>

<body>
<header th:replace="template :: header-foyer"></header>
<main>
    <p>Updating password for <span class="displayName" th:text="${displayName}">User</span></p>
    <form class="indoors" method="post" action="changepwd.html">
        <fieldset>
            <div class="form-group">
                <input class="form-control" name="oldPassword" placeholder="Old password" type="password" autofocus="true"/>
                <input class="form-control" name="newPassword" placeholder="New Password" type="password"/>
                <input class="form-control" name="confirmNewPassword" placeholder="Confirm new password" type="password"/>
                <button type="submit">Submit</button>
            </div>
        </fieldset>
    </form>
</main>
<footer th:replace="template :: footer-auth"></footer>
</body>
</html>