<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="template :: head-frontdoor">
</head>

<body>
<header th:replace="template :: header-foyer"></header>

<main class="centered">
    <h3>User profile</h3> (<a href="profileedit.html">edit</a>)
    <p>Username: <span
            th:text="${user.getUsername()}">empty</span></p>
    <p>Password: (<a href="changepwd.html">change</a>)</p>
    <p>First Name: <span
            th:if="${user.getFirstName() != null}"
            th:text="${user.getFirstName()}">empty</span></p>
    <p>Last Name: <span th:text="${user.getLastName()}">empty</span></p>

    <p>Latitude: <span
            th:if="${location != null}"
            th:text="${location.getLatitude()}">empty</span></p>
    <p>Longitude: <span th:text="${location.getLongitude()}">empty</span></p>
    <iframe width="600" height="450" frameborder="0" style="border:0" th:src="${location.gimmeEmbedUrl()}"></iframe>
</main>

<footer th:replace="template :: footer-auth"></footer>
</body>
</html>