<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="template :: head-frontdoor">
</head>

<body>
    <header th:replace="template :: header-foyer"></header>

    <main class="centered">
        <h3>Project details</h3> (<a href="/projectedit">edit</a>)
        <p>Project nickname: <span th:text="${projectName}">empty</span></p>
        <p>Full name: <span th:text="${fullName}">empty</span></p>
        <p>Latitude: <span th:text="${latitude}">empty</span></p>
        <p>Longitude: <span th:text="${longitude}">empty</span></p>
        <p><a href="/mapproject" target="_blank">Map it!</a> (Opens a new window)</p>
    </main>

    <footer th:replace="template :: footer-auth"></footer>
</body>
</html>