<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="template :: head-frontdoor">
</head>

<body>
<header th:replace="template :: header-frontdoor">
</header>

<main>
    <form class="frontdoor" method="post" action="/register">
        <fieldset>
            <div class="form-group">
                <input autofocus="true" class="form-control" name="username" placeholder="Username" type="text"/>
                <input class="form-control" name="password" placeholder="Password" type="password"/>
                <input class="form-control" name="confirmPassword" placeholder="Confirm Password" type="password"/>
                <button type="submit">Register</button>
            </div>
        </fieldset>
    </form>
    <p id="login">Already registered? <a href="/login">Login</a>.</p>
</main>

<footer th:replace="template :: footer-nonauth">
</footer>
</body>
</html>