<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="template :: head-frontdoor">
</head>

<body>
    <header th:replace="template :: header-foyer"></header>

    <main>
        <p>Unit: <span th:text="${unitName}">unit name</span></p>
        <p>Open date: <span th:text="${openDate}">open date</span></p>
        <p>Close date: <span th:text="${closeDate}">close date</span></p>
        <p>Description: <span th:text="${description}">description</span></p>
        <p><a href="/unit-close">Close unit</a></p>

    </main>



    <footer th:replace="template :: footer-auth"></footer>
</body>
</html>