<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="template :: head-frontdoor">
</head>

<body>
    <header th:replace="template :: header-foyer"></header>

    <main>
        <p>Unit: <span th:text="${unit.toString()}">unit name</span></p>
        <p>Open date: <span th:text="${unit.gimmeFormattedOpenDate()}">open date</span></p>
        <p>Close date: <span th:text="${unit.getCloseDate()}? ${unit.gimmeFormattedCloseDate()} : 'Still open'">close date</span></p>
        Levels:
        <table>
            <tr>
                <th>Type</th>
                <th>Description</th>
                <th>Value (in masl)</th>
                <th>Date</th>
            </tr>
                <tr th:if="${#lists.isEmpty(unit.getLevels())}">
                <td>None.</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr th:if="${not #lists.isEmpty(unit.getLevels())}"
                th:each="level : ${unit.getLevels()}">
                <td th:text="${level.getType()}"></td>
                <td th:text="${level.getDescription()}"></td>
                <td th:text="${level.masl()}"></td>
                <td th:text="${level.gimmeFormattedDateStamp()}"></td>
            </tr>
        </table>
        <p>Description: <span th:text="${unit.getDescription()}">description</span></p>
        <p><a href="/unit-sheet-edit">Edit</a> or <a href="/unit-close">Close</a> this unit</p>
    </main>



    <footer th:replace="template :: footer-auth"></footer>
</body>
</html>